.btn-book{
  background-color:  #00A3AC;
  font-family: Pacifico;
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin-top: 25px;
}

.btn-book:hover {
  background-color:#ff0199;
}

p {
  font-family: Pacifico;
  opacity: 0.8;
}
