.btn-book{
  background-color:  #00A3AC;
  font-family: Pacifico;
  border-radius: 5px;
  border: none;
  padding: 8px;
  margin-top: 25px;
}

.btn-book:hover {
  background-color:#ff0199;
}

p {
  font-family: Pacifico;
  opacity: 0.8;
}

.container-show-friend{
  overflow: hidden;
  height: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 75%;
  margin-left: 12%;
  padding-left: 2%;
  border-radius: 16px;
}

.row-show-friend{
    width: 100%;
}
