.btn-accept {
  background-color:#00A3AC;
  font-family: Pacifico;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

.btn-refuse {
  background-color:#ff0199;
  font-family: Pacifico;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

.btn-accept:hover {
  background-color:#00A3AC;
}

.btn-refuse:hover {
  background-color:#ff0199;
}
