.container h1{
  font-family: Pacifico;
  text-align: center;
  margin-bottom: 30px;
}

.nav-tabs{
  padding-top: 16px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  padding-top: 16px;
}

.user{
  display: flex;
}

.user-img img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.user-infos{
  font-family: Pacifico;
  font-size: larger;
  padding-top: 30px;
  padding-left: 30px;
}
