<div class="container-show">
<div class="row">
  <div class="col">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  </div>
  <div class="col pt-5 ps-5">
      <h2><%= @friend.name %></h2>
      <p><strong>Catégorie: </strong><%= @friend.category %></p>
      <p><strong>Prix: </strong><%= @friend.price %></p>
      <p><strong>Adresse: </strong><%= @friend.postal_address %></p>
      <div class="btn btn-outline-primary">Book me!</div>
    </div>
  </div>
</div>
