
 <div class="d-flex justify-content-between mb-3 pb-4 border-bottom">
  <div><button class="btn" data-action="click->categories#filter" value="Sympathetic"><i class="fa-regular fa-face-smile"></i><br /> Sympathetic</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Alcoholic"><i class="fa-solid fa-martini-glass"></i><br /> Alcoholic</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Cool"><i class="fa-solid fa-temperature-low"></i><br /> Cool</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Mean"><i class="fa-solid fa-thumbs-down"></i><br /> Mean</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Grumpy"><i class="fa-solid fa-thumbs-down"></i><br /> Grumpy</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Sleepy"><i class="fa-solid fa-bed"></i><br /> Sleepy</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Flirty"><i class="fa-regular fa-face-grin-wink"></i><br /> Flirty</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Joyful"><i class="fa-regular fa-face-grin-tears"></i><br /> Joyful</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Copilot"><i class="fa-solid fa-link"></i><br /> Copilot</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Mysterious"><i class="fa-solid fa-question"></i><br /> Mysterious</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Sexy"><i class="fa-solid fa-dragon"></i><br /> Sexy</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Attachiant"><i class="fa-regular fa-face-angry"></i><br /> Attachiant</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Mellow"><i class="fa-solid fa-mattress-pillow"></i><br /> Mellow</button></div>
  <div><button class="btn" data-action="click->categories#filter" value="Vicious"><i class="fa-solid fa-staff-snake"></i><br /> Vicious</button></div>
  <%# <div><i class="fa-solid fa-microphone-lines"></i> karaokeur</button></div> %>
</div >

<%# <div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active d-inline">
        <div><button class="btn"><i class="fa-regular fa-face-smile"></i> Sympathique</button></div>
        <div><button class="btn"><i class="fa-solid fa-martini-glass"></i> Alcoolique</button></div>
        <div><button class="btn"><i class="fa-solid fa-temperature-low"></i> Cool</button></div>
        <div><button class="btn"><i class="fa-solid fa-thumbs-down"></i> Méchant</button></div>
        <div><button class="btn"><i class="fa-solid fa-thumbs-down"></i> Grincheux</button></div>
        <div><button class="btn"><i class="fa-solid fa-bed"></i> Dormeur</button></div>
        <div><button class="btn"><i class="fa-regular fa-face-grin-wink"></i> Pointeur</button></div>
    </div>
    <div class="carousel-item d-inline">
      <div><button class="btn"><i class="fa-regular fa-face-grin-tears"></i> Joyeux</button></div>
      <div><button class="btn"><i class="fa-solid fa-link"></i> Copilote</button></div>
      <div><button class="btn"><i class="fa-solid fa-question"></i> Mystérieux</button></div>
      <div><button class="btn"><i class="fa-solid fa-dragon"></i> Dragueur</button></div>
      <div><button class="btn"><i class="fa-regular fa-face-angry"></i> Attachiant</button></div>
      <div><button class="btn"><i class="fa-solid fa-mattress-pillow"></i> Moelleux</button></div>
      <div><button class="btn"><i class="fa-solid fa-staff-snake"></i> vicieux</button></div>
      <div><i class="fa-solid fa-microphone-lines"></i> karaokeur</button></div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</div> %>
