.cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 40px;
  // justify-content: center;
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  // justify-content: center;
  align-items: center;
  // gap: 30px;
  a {
    padding-top: 0;
  }
}

.container-index-cards-map {
  justify-content: space-around;
  // gap: 40px;
}

.card-product {
  overflow: hidden;
  height: 150px;
  width: 400px;
  background: rgb(252, 252, 252);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  // margin-right: 50px;
  padding-right: 10px;
  transition: transform .2s;
  margin-bottom: 35px;
  margin-left: 35px;
}

.card-product:hover {
  transform: scale(1.15);
}

.card-product img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid;
  border-color: #00A3AC;
}

.card-product h2 {
  font-family: Pacifico;
  color: #ff0199;
  text-decoration: none;
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#address {
  font-family: Pacifico;
  color: #000000;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 4px;
  opacity: 0.9;
}

.card-product p {
  font-family: Pacifico;
  color: #00A3AC;
  opacity: 1;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-product .card-product-infos {
  padding-left: 30px;
  width: 100%;
  padding-bottom: 30px;
}

// Smallest device

// // Small devices (landscape phones, 576px and up)
@media (min-width: 350px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// // // Medium devices (tablets, 768px and up)
@media (min-width: 700x) {
  .cards {
     grid-template-columns: 1fr 1fr;
  }
}

 //Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//       grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// Extra large devices (large desktops, 1200px and up)
